.cal-group-class {
    position: relative;
 }
 
 input {
     width: 20%;
     height: 20%;
     font-size: 75px;
     border-radius: 10px;
     margin: 10px;
     background-color: #000;
     color: #fff;
     border-style: none; 
 }

 #myform {
    text-align: center;
 }

 h1 {
     text-align: center;
     font-size: 80px;
 }

 .output-bar {
    background-color:skyblue;
    width: 85%;
    height: 10%;
 }

 input:hover {
     background-color: burlywood;
 }
